<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>







<div class="container">
  <h1>Tu Timeline</h1>
  <% @posts.each do |post| %>
    <div class="post-card">
      <!-- Imagen del perfil del usuario -->
      <img class="timeline-post-avatar" src="https://picsum.photos/200/200" alt="Perfil de usuario">
      
      <!-- Información de la publicación -->
      <div class="post-info">
        <p class="post-user"><strong><%= post.user.email %></strong></p>
        <p class="post-content"><%= post.content %></p>
      </div>
      
      <!-- Área para agregar comentarios -->
      <div class="comments-section">
        <!-- Formulario para agregar un comentario -->
        <%= form_for [post, Comment.new] do |f| %>
          <div class="form-group">
            <%= f.text_area :content, placeholder: "Escribe tu comentario aquí...", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "Comentar", class: "btn btn-primary" %>
          </div>
        <% end %>
        
        <!-- Mostrar los comentarios existentes -->
        <% post.comments.each do |comment| %>
          <div class="comment">
            <strong><%= comment.user.email %></strong>
            <p><%= comment.content %></p>
          </div>
        <% end %>
      </div>
      
      <div class="timeline-post-actions">
        <a class="btn btn-primary" href="#">Me gusta</a>
        <a class="btn btn-primary" href="#">Me gusta (<%= post.likes.count %>)</a>
        <a class="btn btn-success" <%= link_to "Show this post", post %></a>
      </div>
    </div>
  <% end %>
</div>



<footer>
  <p>Copyright &copy; 2023</p>
</footer>



